.layout {
  min-height: 100vh !important;
}

.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.title {
  color: #ffffff !important;
  margin-bottom: 0 !important;
}

.content {
  box-sizing: border-box;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  flex: 1;
}

.footer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

@media (max-width: 768px) {
  .header {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .title {
    font-size: 20px !important;
  }

  .footer {
    flex-direction: column;
  }
}
